@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }
 .humberger {
        display: none;
}
 .navigation {
    display: block;
    border-bottom: solid 1px #a4a2a2;
 }
 .navigation ul {
    display: flex;
 }
 .navigation a {
    border: none;
 }
 .student {
   display: grid;
   grid-template-columns: 550px 340px;
 }
}