@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }
 .humberger {
        display: none;
}
 .navigation {
    display: block;
    background-color: rgb(38, 35, 35);
 }
 .navigation ul {
    display: flex;
 }
 .navigation li a.active {
    background-color: #eee;
 }
}