* {
    font-family: "Roboto" Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* Style header of the page */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    column-gap: 8px;
    align-items: end;
   
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    color: rgb(11, 11, 96);
}

header span {
    font-size: 1.3rem;
    color: rgb(11, 11, 96);
}

/* Navigation humburger button */
.humberger {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(11, 11, 96);
}

.humberger::after {
    content: "\2630";
    font-size: 1.5rem;
    
}

.humberger.show::after {
    content: "\00D7";
    font-size: 2rem;
    
}

/* Navigation menu */
.navigation {
    display: none;
    background-color: rgb(23, 21, 21);
    color: white;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    background-color: rgb(56, 48, 48);
    color: #ffffff;
    
}

.navigation a:hover {
    border: solid 1px #eee;
}

.active {
    background-color: #111010;
    color: #fff;
}